@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #ecb000,
  accent: #ebeae8,
  theme: dark,
));

@import "~vue-material/dist/theme/all"; // Apply the theme
