$fer-yellow: #ecb000;
$fer-dark-blue: #00003f;
$fer-white: #ffffff;
$fer-gray: #ebeae8;
$fer-black: #02000d;

$transition-timing-function: cubic-bezier(.4, 0, .2, 1);

$content-max-width: 1300px;
$page-max-width: 1905px;

$breakpoints: (
  xs: 600px,
  sm: 960px,
  md: 1264px,
  lg: 1904px,
) !default;
